<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- pour utiliser les annotations -->
	<context:annotation-config />
	
	<!-- pour trouver les classes de service -->
	<!-- <context:component-scan base-package="myapp.imp" />-->
	
	<!-- logger sur Stderr (logger par défaut)-->
	<bean id="stdErrLogger" class="myapp.imp.StdErrLogger" primary="true" />
	
	<!-- logger sur BeanFile-->
	<bean id="beanFileLogger" class="myapp.imp.BeanFileLogger" />
	<!-- <bean id="beanFileLogger" class="myapp.imp.BeanFileLogger">
		<property name="fileName">
			<value>resources/tmp/myapp_annotationsSpring.log</value>
		</property>
	</bean> -->
	
	<!-- calculatrice qui trace sur Stderr -->
	<bean id="calcStdErr" class="myapp.imp.SimpleCalculator"/>
	<!-- <bean id="calcStdErr" class="myapp.imp.SimpleCalculator">
		<property name="logger" ref="stdErrLogger" />
	</bean> -->
	
	<!-- calculatrice qui trace sur BeanFile -->
	<bean id="calcBeanFile" class="myapp.imp.SimpleCalculator"/>
	<!-- <bean id="calcBeanFile" class="myapp.imp.SimpleCalculator">
		<property name="logger" ref="beanFileLogger" />
	</bean> -->

</beans>